@font-face {
  font-family: "Termina";   /*Can be any text*/
  src: local("Termina"),
    url("../public/fonts/Termina/Demo_Fonts/Fontspring-DEMO-termina-medium.otf") format("truetype");
}

@font-face {
  font-family: "Jost";   /*Can be any text*/
  src: local("Jost"),
    url("../public/fonts/Jost/Jost400Book.otf") format("truetype");
    font-weight: 400;
}
@font-face {
  font-family: "Jost";   /*Can be any text*/
  src: local("Jost"),
    url("../public/fonts/Jost/Jost500Medium.otf") format("truetype");
    font-weight: 500;
}

.App {
  text-align: center;
}

